body{
    height: 100vh;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header{
    background-color: coral;
    margin: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 10vh;
}

main{
    background-color: blue;
    width: 100%;
    max-width: 1200px;
    height: 70vh;
}

.orangeSquare{
    background-color: orange;
    height: 120px;
    width: 120px;

}