main{
    /*background-color: red;*/
    width: 100%;
    max-width: 1200px;
    height: 70vh;
}

.orangeSquare{
    border-radius: 50%;
    /*background-color: yellow;*/
    transform: scale(1.4);
}

header{
    /*display: flex;*/
    align-items: start;
    background-color: rgba(38, 38, 38, 0.49);
    backdrop-filter: blur(10px);
    z-index: 1;
    margin: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
}
ul{
    position: relative;
    right: 0;
    top: 0;
    margin-right: 0;
    height: auto;
    width: 100vw;
    display: flex;
    padding: 0;
    /*gap: 2em;*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    /*margin-top: 400px;*/
/*position: relative;*/
}
li{
    transition: ease all .2s;
    display: flex;
    justify-content: center;
    align-items: center;
    /*padding: 1em;*/
    margin-top: 0;
    background-color: rgba(211, 211, 211, 0.53);
    border-bottom: solid 1px black;
    width: 100%;
    height: 100px;
}
li:hover{
    transition: ease all .2s;
   background-color: #525252;
    color: white;
}
li:active{
    transition: ease all .2s;
    background-color: black;
    color: white;
}