@media screen and (max-width: 920px) {


    /*body {*/
    /*    width: 100vw;*/
    /*    height: 100vh;*/
    /*    margin: 0;*/
    /*    display: flex;*/
    /*    justify-content: center;*/
    /*    align-items: center;*/
    /*}*/
/*Start of new Hamburger*/
    .hamburger {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 5px;
        right: 15px;
        /*background-color: aqua;*/
        height: 25px;
        width: 30px;
    }

    .hamburger span:nth-child(1), .hamburger span:nth-child(2),
    .hamburger span:nth-child(3) {
        position: absolute;

        display: block;
        width: 100%;
        height: 25%;
        border-radius: 13px;
        background-color: rgb(12, 12, 12);
    }
    .hamburger:hover span{
        background-color: lightgray;
    }
    .hamburger:active span{
        background-color: black;
    }

    .hamburger span:nth-child(1) {
        transition: ease all .3s;
        top: 0;
        transform-origin: 10%;
    }


    .hamburger span:nth-child(2) {
        transition: ease all .3s;
        top: 36%;
    }

    .hamburger span:nth-child(3) {
        transition: ease all .3s;
        transform-origin: 10%;
        bottom: 0;
    }


    .hamburger.open span:nth-child(1) {
        transition: ease all .3s;
        transform: rotate(45deg) scale(1.1);
        /*background-color: greenyellow;*/
    }

    .hamburger.open span:nth-child(2) {
        transition: ease all .3s;
        opacity: 0;
        transform: translateX(-70%);
        /*background-color: greenyellow;*/
    }

    .hamburger.open span:nth-child(3) {
        transition: ease all .3s;
        transform: rotate(-45deg) scale(1.1);
        /*background-color: coral;*/
    }

    /*End of new Hamburger*/
    main{
        /*background-color: red;*/
        width: 100%;
        max-width: 1200px;
        height: 70vh;
    }

    .orangeSquare{
        border-radius: 50%;
        /*background-color: yellow;*/
        transform: scale(1.4);
    }

    header{
        display: flex;
        align-items: end;
        justify-content: end;
        /*background-color: rgba(38, 38, 38, 0.49);*/
        backdrop-filter: blur(6px);
        z-index: 1;
        margin: 0;
        position: absolute;
        top: 15px;
        /*right: 15px;*/
        width: 100%;
        height: auto;
    }
    ul{

        position: relative;
        right: 0;
        top: 0;
        margin-right: 0;
        /*height: 100%;*/
        /*background-color: red;*/
        width: 100vw;
        display: flex;
        padding: 0;
        /*gap: 2em;*/
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        /*margin-top: 400px;*/
        /*position: relative;*/
    }
    li{
        transition: ease all .5s;
        display: flex;
        justify-content: center;
        align-items: center;
        /*padding: 1em;*/
        margin-top: 0;
        background-color: rgba(211, 211, 211, 0.3);
        /*border-bottom: solid 1px black;*/
        width: 100%;
        height: 0;
    }
    li:hover{
        transition: ease all .5s;
        background-color: #525252;
        color: white;
    }
    li:active{
        transition: ease all .2s;
        background-color: black;
        color: white;
    }

    ul{
        transition: ease all .4s;
        display: none;
        height: auto;
/*border: solid 5px;*/
        box-shadow:0 5px 20px rgba(217, 214, 214, 0.63);
    }
    li{
        transition: ease all .4s;
        display: none;
        font-size: 0;
        height: 0;
    }
header{
    /*border: solid 5px black ;*/
    /*background-color: red;*/
    /*display: none;*/
}

button{
    background-color: red;
    height: 50px;
    width: 50px;
    background: none;
    border: 4px solid lightgray;
    position: absolute;right: 10px;top: 10px;
    display: flex;justify-content: center;align-items: center;
    z-index: 54;
    border-style: none;
}
    .hamburger-box{
        position: relative;
        width: 50px;
        height: 5px;
        border-radius: 4px;
        background: lightgray;
    }
    .hamburger-box::before{
        position: absolute;
        content: '';
        transform: translateY(-11px);
        left: 0;
        right: 0;
        max-width: 50px;
        height: 5px;
        border-radius: 4px;
        background: red;
    }
    .hamburger-box::after{
        position: absolute;
        content: '';
        transform: translateY(11px);
        left: 0;
        right: 0;
        max-width: 50px;
        height: 5px;
        border-radius: 4px;
        background: greenyellow;
    }
.rotate-top{
    transform: rotate(45deg);
}

}


