body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hamburger{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /*background-color: aqua;*/
    height: 75px;
    width: 80px;
}
.hamburger span:nth-child(1),.hamburger span:nth-child(2),
.hamburger span:nth-child(3){
    position: absolute;
    display: block;
    width: 100%;
    height: 15px;
    border-radius: 13px;
    background-color: red;
}
.hamburger span:nth-child(1){
    transition: ease all .3s;
    top: 0;
transform-origin: 10%;
}


.hamburger span:nth-child(2){
    transition: ease all .3s;
    top: 30px;
}
.hamburger span:nth-child(3){
    transition: ease all .3s;
    transform-origin: 10%;
    bottom: 0;
}


.hamburger.open span:nth-child(1){
    transition: ease all .3s;
    transform: rotate(45deg)scale(1.3);
    /*background-color: greenyellow;*/
}
.hamburger.open span:nth-child(2){
    transition: ease all .3s;
    opacity: 0;
    transform: translateX(-70px);
    /*background-color: greenyellow;*/
}
.hamburger.open span:nth-child(3){
    transition: ease all .3s;
    transform: rotate(-45deg) scale(1.3);
    /*background-color: coral;*/
}

